[submodule "strands_qsr_lib"]
	path = strands_qsr_lib
	url = ../../aileen/strands_qsr_lib.git
[submodule "agent/vision"]
	path = agent/vision
	url = ../../aileen/aileen-vision-module.git
[submodule "agent/concept_learner/analogystack"]
	path = agent/concept_learner/analogystack
	url = ../../klenk/analogystack
