[submodule "strands_qsr_lib"]
	path = strands_qsr_lib
	url = https://gitlab-external.parc.com/aileen/strands_qsr_lib.git
[submodule "aileen-vision-module"]
	path = aileen_vision_module
	url = https://gitlab-external.parc.com/aileen/aileen-vision-module.git
